/* ADD SNIPPETS */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {visibility: hidden; display: block; font-size: 0; content:''; clear: both; height: 0; } 

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* STYLING TO REMOVE MARGINS/TEXT DECORATIONS OR LIST STYLES */

body, h1, h2, h3, h4, nav, header, ul, li, a, p {
    margin: 0;
}


nav .fa-bars {
    display: none;
}

ul, li {
    list-style: none;
}

p {
    line-height: 30px;
    letter-spacing: 0.2px;
}

a {
text-decoration: none;
color: inherit;
}

img {
    max-width: 100%;
}
/* BASE STYLES */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 2rem;
    color: white;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/* HEADER STYLES */

header {
    background-image: url(assets/header-image-2.jpg);
    height: 75vh;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;

}

nav {
    padding-top: 25px;     
    text-shadow: 2px 2px black;
}



h1, h3, h4 {
    font-family: 'Offside', cursive;
        font-weight: normal;

}

.menu-toggle a {
    border-bottom: 1px solid grey;
	display: inline-block;
	width: 100%;
	padding: 20px;
	transition: all 0.3s;}

input[type="checkbox"]:checked + #sidebar {
    right: 0;
}


.menu-toggle li {
    padding: 5%;
}


h1 {
    font-size: 2rem;
    float: left;
    padding-left: 6%;

}

h2 {
    clear: both;
    font-size: 6.88rem;
    width: 35%;
    padding-top: 70px;
    line-height: 63.7px;
    letter-spacing: 0.8px;;
    padding-left: 30px;
    font-weight: normal;
}

label[for="toggle"] {
	position: fixed;
	top: 0;
	right: 10px;
	color: white;
	z-index: 10;
}



input[type="checkbox"] {
    display: none;
}

#sidebar {
	background: black;
	position: fixed;
	z-index: 10;
	width: 30%; 
	right: -30%; 
	top: 50px;
	/* height: 100%; */
    transition: all 0.5s; 
}

header ul {
    float: right;
    
    
}

header ul li {
    display: inline-block;
    padding: 0 10px;
    font-weight: 600;
}

/* hidden icons */






.hidden-icons i {
    font-size: 3rem;
    position: absolute;
    text-shadow: 2px 2px black;
    position: fixed;
}

 .fa-twitter {
    position: absolute;
    top: 38%;
    right: 3%;
}

.fa-snapchat-ghost {
    position: absolute;
    top: 32%;
    right: 3%;
}

.fa-instagram {
    position: absolute;
    top: 20%;
    right: 3%;
}

.fa-facebook-f {
    position: absolute;
    top: 26%;
    right: 3%;
}

/* STYLING FOR FIRST SECTION (GALLERY) */

.new-friends {
    background: #D6F1E4;
    color: #2C2D2C;
}

h3 {
    font-size: 4.2rem;
}

.new-friends-h3 {
    padding: 4% 0;
    text-align: center;
    font-weight: normal;
}

.gallery img {
    width: calc(100% / 3);
    /* margin: 0; */
    float: left;
    padding: 0 1%;
}


.more-about img {
    float: left;
    width: 30%;
    padding: 3% 1%;
}

.more-about {
    margin-top: 4%;
}

.more-about-text {
    float: left;
    width: 70%;
    padding: 3% 0 3% 3%;
    /* margin: 1% 2%; */
}

.more-about-text p {
    padding: 2% 0;
}

/* BUTTON STYLES  */

.more-about .read-more {
    background: #116500;
    /* padding: 5px 10px; */
    text-transform: uppercase;
    color: white;
    text-decoration-style: none;
    font-family: 'Offside', cursive;
    font-weight: normal;
    text-align: center;
    line-height: 29px;
    /* width: 100%; */

}



/* make DRY */

section .read-more {
    background: white;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #116500;
    text-decoration-style: none;
    font-family: 'Offside', cursive;
    font-weight: normal;
    text-align: center;
    line-height: 29px;
    /* width: 100%; */

}



/* STYLING FOR HEADING TAGS */

h3 {
    color: #116500;
    /* text-align: center; */
}



/* 2*2 section */

.middle-section h4 {
    font-size: 4.2rem;
    padding-bottom: 2%;
}

.bobby-and-bella, .marco {
        background-color: #213C28;
        /* padding: 25% 25%; */
        /* float: left; */
        /* width: 50%; */
}

.bobby-and-bella-text, .marco-text {
    float: left;
    width: 50%;
    padding: 7.5%;    
}   

.bobby-and-bella-text p, .marco-text p {
    margin-bottom: 5%;
}

.bobby-and-bella img {
    float: right;
    width: 50%;

}

.marco img, .marco-text {
    float: left;
    width: 50%;

}



/* icons styling */

.icons {
    background: #D6F1E4;
    padding: 50px;    
    color: #2C2D2C;
    text-align: center;
}





.icons h4 {
    color: #116500;
}

.jobs, .gift, .events {
    float: left;
    width: 33%;
}

.fas {
    font-size: 3.5rem;
    margin-bottom: 2%;
}

.fab {
    font-size: 2rem;
}

/* Hover states */
label:hover {
    color: #213C28;
    cursor: pointer;
}
.more-about .read-more:hover {
    background: white;
    color: #116500;
    border: 1px solid #116500;
}
li a:hover {
    text-decoration: underline #116500;
    text-underline-position: below;
}

section .read-more:hover {
    background: #116500;
    color: white;
    border: 1px solid white;
}

.read-more:hover {
    background: 
}

.hidden-icons i:hover {
    color: #213C28;

}
.icons i:hover {
    color: white;
}

/* FOOTER STYLES */

footer {
    background: #213C28;
}

footer h3 {
    color: white;
    font-size: 2.5rem;


}

.footer-content {
    background-color: #213C28;
    padding: 5% 2%;
    /* text-align: center; */
}


.email {
    float: left;
    width: 40%;
}

.contact {
    float: left;
    width: 24%;
}

    .email, .contact, .footer-nav {
        /* padding: 0 3%; */
        margin: 0 3%;
    }

.footer-nav {
    float: left;
    width: 15%;
    font-family: 'Offside', cursive;
    text-transform: lowercase;
    /* padding-top: 20px; */
}

.subscribe {
    background: #2C2D2C;
    border: none;
    color: white;
    padding: 5px 20px;
    font-family: 'Offside', cursive;
    text-transform: uppercase;
    font-size: 1.5rem;
    float: left;
}

input[type="email"] {
    margin: 0;
    float: left;
    width: 60%;
    border: none;
    padding: none;
}

@media (max-width: 1195px) {

    .bobby-and-bella-text, .marco-text {
        padding: 2.5%;}

}

@media (max-width: 900px) {
    html {
        font-size: 57.5%;
    }
    .footer-nav {
        /* float: none; */
        /* text-align: center; */
    }

     .bobby-and-bella-text, .marco-text {
        padding: 2%;}
    

    .more-about img {
        display: none;
    }

    .more-about-text {
        width: 100%;
    }
    .more-about .read-more {
        /* text-align: center; */
        /* margin: 0 auto; */
        margin-bottom: 5%;
    }

    .bobby-and-bella-text, .marco-text {
        padding: 3% 2%;
    }

    .footer-content {
        padding: 3% 1%;
    }

    .email, .contact, .footer-nav {
        /* padding: 0 3%; */
        /* margin: 0 3%; */
    }

    input[type="email"] {
        width: 100%;
    }

span.read-more {
    display: inline-block;
    /* text-align: center; */
}
.more-about-text {
    text-align: left;
}

.more-about {
    text-align: center;
}

}

@media (max-width: 780px) {

    .new-friends img {
        width: 50%;
    }
    .new-friends img:last-of-type {
        float: none;
        width: 100%;
        margin: 20px auto;
    }


    .bobby-and-bella-text, .bobby-and-bella img {
        width: 100%;
        float: none;
        clear: both;
    }


    .marco img, .marco-text {
    clear: float;
    width: 100%;

}

.more-about .read-more {
    margin: 0 37.5%;
            margin-bottom: 5%;

    
}

section .read-more {
    margin: 0 37.5%;
}

.bobby-and-bella, .marco {
    text-align: center;
}


    .bobby-and-bella-text, .marco-text {
        /* margin-top: 50px; */
        text-align: left;
    }

    .hidden-icons {
        display: none;
    }


}

@media (max-width: 650px) {
header {
    background-image: url(assets/mobile-version.png);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    width: 100%;
    text-align: center;
    padding: 0;
}

ul {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

header h2 {
    padding: 30px 0;
    width: 50%;
    font-size: 5.5rem;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.more-about-text {
    padding: 0;
}

.jobs, .gift, .events {
    clear: both;    
    width: 100%;
    margin: 30px auto;
}

h4 {
    font-size: 4.2rem;
}

.icons .fas {
        font-size: 5rem;

}

.email {
    width: 100%;
    text-align: center;
}

input[type="email"] {
    width: 90%;
}

.contact, .footer-nav {
    width: calc(50% - 6%);
    float: left;
    margin-top: 30px;
}

.footer-nav ul{
    text-align: right;
}

.contact p {
    padding: 0;
    margin: 0;
}

}
@media (max-width: 500px) {
header ul {
    display: none;
}

h1 {
    text-align: left;
}

nav .fa-bars {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
}


nav {
    position: relative;
}

input[type="submit"] {
    margin: 0 23.5%;
}


}
